{{#nav-bar as |nav|}}
  {{#nav.header linkToRoute='index'}}
    Smartdirect
  {{/nav.header}}
  <div class='right menu'>
    {{nav.menu onLogin=(route-action 'login') onLogout=(route-action 'logout')}}
  </div>
{{/nav-bar}}

{{#ember-notify classPrefix='custom-notify' as |message close|}}
  {{! TODO: Use message.type to determine class }}
  <div class='ui negative message close' {{action close}}>
    <span>{{message.text}}</span>
  </div>
{{/ember-notify}}

<main>
  {{outlet}}
</main>
